@font-face {
    font-family: 'outfit';
    src: url("./Outfit/Outfit-VariableFont_wght.ttf");
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: outfit;
}

.container {
    cursor: pointer;
    background-color: hsl(216, 50%, 16%);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.img-container {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.img-container img {
    width: 100%;
}

.title {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.content {
    font-weight: 400;
    color: hsl(215, 51%, 70%);
    margin-bottom: 10px;
}

.card-items {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.info-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-ethereum {
    width: 10px;
    height: 16px;
    margin-right: 5px;
}

.info-card p {
    color: hsl(178, 100%, 50%);
}

.time-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-card img {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.time-card p {
    font-weight: 400;
    color: hsl(215, 51%, 70%);
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.icon-author {
    width: 10%;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
    overflow: hidden;
    margin-right: 10px;
}

.author p {
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.author span {
    font-weight: 400;
    color: hsl(215, 51%, 70%);
}

.container:active {
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(178, 100%, 50%, 50%);
}

.overlay img {
    width: 48px;
    height: auto;
}

.container:active .overlay {
    opacity: 1;
}

.container:active .title {
    color: hsl(178, 100%, 50%);
}

.container:active .author p {
    color: hsl(178, 100%, 50%);
}
